body {
  background-color: #6da3d2;
  text-align: center;
  margin: 10px;
  font-family: Arial, sans-serif;
  padding: 10px;
}

* {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.button {
  background-color: #9ad19c;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.error {
  text-align: center;
  padding: 10px;
  width: 50%;
  background-color: #f8d7da;
  color: rgb(216, 54, 54);
  margin: 0 auto;
}

.delete-button {
  margin-right: auto;       
  opacity: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
  color: rgb(216, 54, 54);
  background-color: #f8d7da;
  font-size: 12px;
}
.expense:hover .delete-button {
  opacity: 1;
}

.expense {
  background-color: #ffffff;
  text-align: left;
  font-weight: bold;
  color: rgb(0, 0, 0);
  width: 50%;
  margin: 5px auto;
}

